doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title My Title
        link(rel='stylesheet' href='./css/styles.css')
    body
        // Header
        header
            //prueba Bootstrap
            img(src='' alt='')
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            </nav>
        // End Header
        // Main
        main
            .container
                p hello worl
        // End Main

        // Section
        section(class="section")
            .container
        // End Section

        // Footer
        footer
            .container
        // End Footer
        script(src='./js/scripts.js')
