@use "sass:map";
@use "sass:list";

@function interpolation($max, $min: "", $w-screen: $desktop-responsive, $w-max: $desktop-responsive, $w-min: $phone-responsive) {

    @if($min==""or $max==$min) {
        @return $max+px;
    }

    $result: $min+($max - $min) * ($w-screen - $w-min) / ($w-max - $w-min);
    @return $result+px;
}

@function responsive($max, $min: "", $w-max: $desktop-responsive, $w-min: $phone-responsive) {

    @if($min==""or $max==$min) {
        @return $max+px;
    }

    $min-px: $min+px;
    $w-min-px: $w-min+px;
    $result: calc(#{$min-px} + (#{$max} - #{$min}) * ((100vw - #{$w-min-px}) / (#{$w-max} - #{$w-min})));
    @return $result;
}


@mixin responsive($attr:'', $size-max:'', $size-min: $font-size-small, $w-max: $desktop-responsive, $w-min: $phone-responsive) {
    $size-max-px: $size-max + px;
    $size-min-px: $size-min + px;
    $w-max-px: $w-max + px;
    $w-min-px: $w-min + px;
    $size-max-px: $size-max + px;
    $desktop-px: $desktop-responsive * 1px;
    $phone-px: $phone-responsive * 1px;

    $responsive-calc : calc(#{$size-min-px} + (#{$size-max} - #{$size-min}) * ((100vw - #{$w-min-px}) / (#{$w-max} - #{$w-min})));

    $property-map: (
        fz: font-size,
        lh: line-height,
        my: margin,
        p: padding,
        ty: top,
        l: left,
        b: bottom,
        r: right,
        w: width,
        h: height,
        mt: margin-top,
        mr: margin-right,
        mb: margin-bottom,
        ml: margin-left,
        pt: padding-top,
        pry: padding-right,
        pb: padding-bottom,
        pl: padding-left,
        mw: min-height,
        maxw: min-height,
        mh: min-height,
        minh: min-height,
        mnw: min-width,
        minw: min-width,
        mxh: max-height,
        maxh: max-height,
    );
    
    $property: '';
    @if( map-has-key($property-map, $attr)) {
        $property: map-get($property-map, $attr);
    }
    @else {
        $property: $attr;
    }

    #{$property}: $size-max-px;

    // @supports not ( $property: $responsive-calc) {
        
    @if($desktop-r <= $w-max and $desktop-r >= $w-min) {
        $screen-width-px : $desktop-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $desktop-r, $w-max, $w-min);
        }
    } 
    @if($medium-desktop-r <= $w-max and $medium-desktop-r >= $w-min) {
        $screen-width-px : $medium-desktop-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $medium-desktop-r, $w-max, $w-min);
        }
    } 
    @if($tablet-r <= $w-max and $tablet-r >= $w-min) {
        $screen-width-px : $tablet-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $tablet-r, $w-max, $w-min);
        }
    } 
    @if($small-tablet-r <= $w-max and $small-tablet-r >= $w-min) {
        $screen-width-px : $small-tablet-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $small-tablet-r, $w-max, $w-min);
        }
    } 
    @if($large-phone-r <= $w-max and $large-phone-r >= $w-min) {
        $screen-width-px : $large-phone-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $large-phone-r, $w-max, $w-min);
        }
    } 
    @if($phone-r <= $w-max and $phone-r >= $w-min) {
        $screen-width-px : $phone-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $phone-r, $w-max, $w-min);
        }
    } 
    @if($small-phone-r <= $w-max and $small-phone-r >= $w-min) {
        $screen-width-px : $small-phone-r + px;
        @media (max-width: #{$screen-width-px}) {
            #{$property}: interpolation($size-max, $size-min, $small-phone-r, $w-max, $w-min);
        }
    }
    // }

    @media (max-width: #{$w-max-px}) {
        #{$property}: $responsive-calc;
    }

    @media (max-width: #{$w-min-px}) {
        #{$property}: #{$size-min-px};
    }
}

//How to use:   @include  font-responsive(26, 20)
// font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300))) ;
@mixin font-responsive($f-max, $f-min: $font-size-small, $w-max: $desktop-responsive, $w-min: $phone-responsive) {

    $f-min-px: $f-min + px;
    $w-min-px: $w-min + px;
    $font-size: $f-max + px;
    $desktop-px: $desktop-responsive * 1px;
    $phone-px: $phone-responsive * 1px;
    font-size: $font-size;

    @if($w-max==$desktop-responsive and $w-min==$phone-responsive) {
        @media (max-width: $desktop-px) {
            & {
                font-size: calc(#{$f-min-px} + (#{$f-max} - #{$f-min}) * ((100vw - #{$w-min-px}) / (#{$w-max} - #{$w-min})));
            }
        }

        @media (max-width: $phone-px) {
            & {
                font-size: #{$f-min-px};
            }
        }
    }

    @else {
        font-size: calc(#{$f-min-px} + (#{$f-max} - #{$f-min}) * ((100vw - #{$w-min-px}) / (#{$w-max} - #{$w-min})));
    }

}

@mixin padding-responsive($pt-max:"", $pt-min:"", $pr-max:"", $pr-min:"", $pb-max:"", $pb-min:"", $pl-max:"", $pl-min:"", $w-max: $desktop-responsive, $w-min: $phone-responsive) {
    @if $pt-max !=""and $pt-min !="" {
        padding-top: responsive($pt-max, $pt-min, $w-max, $w-min);

        @if $pr-max !=""and $pr-min !="" {
            padding-right: responsive($pr-max, $pr-min, $w-max, $w-min);

            @if $pb-max !=""and $pb-min !="" {
                padding-bottom: responsive($pb-max, $pb-min, $w-max, $w-min);

                @if $pl-max !=""and $pl-min !="" {
                    padding-left: responsive($pl-max, $pl-min, $w-max, $w-min);
                }

                @else {
                    padding-left: responsive($pr-max, $pr-min, $w-max, $w-min);
                }
            }

            @else {
                padding-bottom: responsive($pt-max, $pt-min, $w-max, $w-min);
                padding-left: responsive($pr-max, $pr-min, $w-max, $w-min);
            }

        }

        @else {
            padding-right: responsive($pt-max, $pt-min, $w-max, $w-min);
            padding-bottom: responsive($pt-max, $pt-min, $w-max, $w-min);
            padding-left: responsive($pt-max, $pt-min, $w-max, $w-min);
        }
    }
}