// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1280px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 1em;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: #fff;
$base-color: #000;
$link-color: #fc008f;
$main-color: #fc008f;
$color-black: #000;
$color-white: #fff;

$color-pink: #fc008f;
$color-silver: #fafafa;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: "Avenir", sans-serif;

$font-heading: "Futura", sans-serif;

$font-heading-2: "arissa_typefaceregular", sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$large-phone: 568px;
$small-x-tablet: 768px;
$tablet: 991px;
$small-desktop: 1024px;
$medium-desktop: 1200px;
$desktop: 1300px;
// ----------------------------------------------------------------------
// Responsive Variables
// ----------------------------------------------------------------------
$font-size-small: 18;  
$phone-responsive: 420;
$desktop-responsive: 1700;

$small-phone-r: 420;
$large-phone-r: 568;
$small-x-tablet-r: 768;
$tablet-r: 991;
$medium-desktop-r: 1200;
$desktop-r: 1300;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------
