<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus similique nobis error aliquam repellendus dolores, tempore quod commodi perspiciatis veritatis odit laudantium repudiandae adipisci debitis non cum ratione nisi. Dicta.